<!-- https://autoprefixer.github.io/ -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: helvetica;
        padding: 0;
        margin: 0;
      }
      p {
        color: #1d1d1d;
      }
      li {
        color: #1f1f1f;
      }
      body {
        background: #ebecf0;
        font-family: "Inter", sans-serif;
      }
      .container {
        max-width: 650px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 5px;
      }
      .logo {
        height: 40px;
      }
      .logo svg {
        height: 40px;
      }
      .inner {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
      }
      .inner header {
        padding: 40px 20px;
        background-color: #001524;
        border-radius: 10px;
      }
      header h1,
      header p {
        text-align: center;
        color: white;
        max-width: 450px;
        margin: 0 auto;
      }
      header h1 {
        font-size: 24px;
      }
      header p {
        margin-top: 10px;
        font-size: 18px;
      }
      .content-outer {
        padding: 30px 15px;
      }
      .content-outer-one {
        padding-bottom: 20px;
      }
        .content-outer-two {
            padding-top: 0;
        }
      .content-outer:last-child {
        padding-top: 0;
      }
      .content-outer h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .content-inner {
        padding: 15px;
        border: 1px solid #dadada;
        border-radius: 10px;
      }
      .content-inner ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .content-inner ul li {
        padding: 5px 0;
        margin: 0;
      }
      .content-inner ul li span {
        font-weight: 700;
        margin-right: 10px;
      }
      .content-inner ul li:first-child {
        padding-top: 0;
      }
      .content-inner ul li:last-child {
        padding-bottom: 0;
      }
      a {
        color: #f82929;
      }
    </style>
  </head>
  <body style="background-color: #ebecf0;">
    <div class="container">
      <!-- Logo -->
      <a href="https://www.anyrep.co.uk" class="logo">
        <svg
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 620 213"
        >
          <path
            d="M0 212.674 108.567.003h34.993l8.557 101.71h-26.505l-.7-19.062H93.749L40.481 192.956h521.816l-5.7 6.746-527.539 12.972H0ZM103.698 60.942h20.383l-1.048-29.219-.139-6.748a145.131 145.131 0 0 1 0-6.331h-.417a105.82 105.82 0 0 1-2.261 6.261 136.232 136.232 0 0 1-2.678 6.261l-13.84 29.776Zm60.108 40.768L185.306 0h31.654l19.9 68.386h.626c.232-2.04.568-4.638 1.009-7.792.441-3.154.928-6.354 1.461-9.6a270.262 270.262 0 0 1 1.5-8.418L250.558.003h24.21l-21.5 101.71h-31.651l-20.105-71.521h-.557c-.047.927-.186 2.516-.417 4.765-.231 2.25-.531 4.812-.9 7.687a441.467 441.467 0 0 1-1.217 8.731c-.44 2.945-.915 5.579-1.426 7.9l-8.974 42.437-24.215-.002Zm129.816 0 8.348-39.446L285.482.003h28.036l6.261 37.7 21.706-37.7h30.332l-42.576 62.261-8.418 39.446h-27.201Zm68.8 0L383.922 0h26.923c11.687 0 20.639 2.319 26.854 6.957s9.323 11.618 9.322 20.94c0 6.215-1.02 11.398-3.061 15.549a29.854 29.854 0 0 1-7.583 9.983 38.072 38.072 0 0 1-8.974 5.7l18.366 42.576h-29.636l-13.566-37.002h-5.079l-7.861 37.011-27.205-.004Zm39.446-57.673h3.548a17.712 17.712 0 0 0 5.287-.8 13.393 13.393 0 0 0 4.626-2.5 11.973 11.973 0 0 0 3.27-4.452 16.348 16.348 0 0 0 1.217-6.644 9.623 9.623 0 0 0-2.087-6.261c-1.391-1.716-3.825-2.574-7.3-2.574h-3.687l-4.874 23.231Zm53.151 57.673L476.519 0h60.386l-4.522 22.053h-33.185l-3.27 16h30.889l-5.009 22.05h-30.889l-3.965 19.2h33.184l-4.731 22.4-60.388.007Zm80.074 0L556.593.003h25.949c9 0 16.224 1.345 21.671 4.035a26.046 26.046 0 0 1 11.9 10.957 32.166 32.166 0 0 1 3.72 15.476 37.959 37.959 0 0 1-3.235 16.105 32.16 32.16 0 0 1-9.185 11.757 41.044 41.044 0 0 1-14.123 7.2 63.07 63.07 0 0 1-18.057 2.436h-5.983l-6.957 33.741h-27.2Zm39.028-56h4.383a14.387 14.387 0 0 0 7.479-1.878 12.938 12.938 0 0 0 4.9-5.148 15.459 15.459 0 0 0 1.75-7.381 10 10 0 0 0-2.191-6.3c-1.461-1.879-3.861-2.818-7.2-2.818h-4.1l-5.021 23.525Z"
            fill="#F82929"
          />
          <path
            d="m79.862 162.943 19.76-41.192h12.332l4.141 41.192h-8.368l-.676-9.8H93.724l-4.846 9.8h-9.016Zm17.384-17.131h9.382l-.733-10.622-.225-3.409a36.657 36.657 0 0 1-.056-3.522h-.141a35.433 35.433 0 0 1-1.24 3.1c-.47 1.033-.996 2.133-1.578 3.3l-5.409 11.153Zm20.4 30.992 9.636-45.362h6.48l-.479 4.79h.254a19.45 19.45 0 0 1 2.282-2.592 10.9 10.9 0 0 1 2.958-2.015 8.635 8.635 0 0 1 3.691-.775 8.741 8.741 0 0 1 4.311 1.127 8.23 8.23 0 0 1 3.3 3.649 15.067 15.067 0 0 1 1.268 6.72c0 2.051-.222 4.096-.662 6.1a27.922 27.922 0 0 1-1.916 5.748 20.805 20.805 0 0 1-3.048 4.818 13.815 13.815 0 0 1-4.043 3.3 10.344 10.344 0 0 1-4.931 1.2 7.756 7.756 0 0 1-3.242-.612 6.59 6.59 0 0 1-2.24-1.648 15.128 15.128 0 0 1-1.676-2.339h-.225a60.047 60.047 0 0 1-.451 4.212 58.153 58.153 0 0 1-.761 4.1l-2.029 9.579h-8.477Zm17.665-20.145a4.012 4.012 0 0 0 2.367-.8 8.304 8.304 0 0 0 2.057-2.2 15.744 15.744 0 0 0 1.606-3.184 21.816 21.816 0 0 0 1.042-3.79 22.17 22.17 0 0 0 .366-4 6.238 6.238 0 0 0-.916-3.719 3.22 3.22 0 0 0-2.775-1.24 4.516 4.516 0 0 0-2.465.7 7.04 7.04 0 0 0-1.958 1.888 13.585 13.585 0 0 0-1.465 2.663 21.113 21.113 0 0 0-1.015 3.061 25.58 25.58 0 0 0-.578 3.043 21.266 21.266 0 0 0-.183 2.62 5.714 5.714 0 0 0 1.057 3.592 3.425 3.425 0 0 0 2.86 1.366Zm16.68 20.145 9.636-45.362h6.478l-.479 4.79h.254a19.45 19.45 0 0 1 2.282-2.592 10.9 10.9 0 0 1 2.958-2.015 8.635 8.635 0 0 1 3.691-.775 8.741 8.741 0 0 1 4.311 1.127 8.23 8.23 0 0 1 3.3 3.649 15.067 15.067 0 0 1 1.268 6.72c0 2.051-.222 4.096-.662 6.1a27.862 27.862 0 0 1-1.923 5.748 20.787 20.787 0 0 1-3.038 4.818 13.815 13.815 0 0 1-4.043 3.3 10.344 10.344 0 0 1-4.931 1.2 7.76 7.76 0 0 1-3.24-.606 6.59 6.59 0 0 1-2.24-1.648 15.128 15.128 0 0 1-1.676-2.339h-.225a60.047 60.047 0 0 1-.451 4.212 58.153 58.153 0 0 1-.761 4.1l-2.029 9.579-8.48-.006Zm17.665-20.145a4.012 4.012 0 0 0 2.367-.8 8.304 8.304 0 0 0 2.057-2.2 15.74 15.74 0 0 0 1.605-3.184 21.816 21.816 0 0 0 1.042-3.79 22.17 22.17 0 0 0 .366-4 6.238 6.238 0 0 0-.916-3.719 3.22 3.22 0 0 0-2.775-1.24 4.516 4.516 0 0 0-2.465.7 7.04 7.04 0 0 0-1.958 1.888 13.64 13.64 0 0 0-1.464 2.667 21.205 21.205 0 0 0-1.01 3.057 25.58 25.58 0 0 0-.578 3.043 21.266 21.266 0 0 0-.183 2.62 5.714 5.714 0 0 0 1.057 3.592 3.424 3.424 0 0 0 2.855 1.366Zm19.638 6.283 9.3-43.84h8.481l-9.3 43.84h-8.481Zm17.13 0 6.677-31.5h8.481l-6.677 31.5h-8.481Zm12.281-35.415a5.48 5.48 0 0 1-3.029-.789 2.945 2.945 0 0 1-1.226-2.677 5.596 5.596 0 0 1 .606-2.733 3.917 3.917 0 0 1 1.761-1.662 6.24 6.24 0 0 1 2.761-.563 5.732 5.732 0 0 1 2.944.733 2.805 2.805 0 0 1 1.254 2.648 5.283 5.283 0 0 1-1.24 3.649 4.863 4.863 0 0 1-3.831 1.394Zm15.243 35.979a8.741 8.741 0 0 1-4.311-1.127 8.312 8.312 0 0 1-3.311-3.635 14.67 14.67 0 0 1-1.282-6.649c0-2.065.222-4.124.662-6.142a27.845 27.845 0 0 1 1.916-5.762 20.84 20.84 0 0 1 3.043-4.818 13.953 13.953 0 0 1 4.057-3.311 10.27 10.27 0 0 1 4.917-1.212 9.674 9.674 0 0 1 3.494.578 7.51 7.51 0 0 1 2.564 1.62 8.694 8.694 0 0 1 1.747 2.423h.225l1.606-4.029h6.537l-6.706 31.5h-6.339l.394-4.085h-.225a15.732 15.732 0 0 1-2.451 2.423 10.66 10.66 0 0 1-2.93 1.634 10.38 10.38 0 0 1-3.604.592h-.003Zm3.325-6.847a4.718 4.718 0 0 0 3.24-1.366 11.734 11.734 0 0 0 2.567-3.561 17.988 17.988 0 0 0 1.525-4.652c.15-.749.258-1.507.324-2.268.067-.761.1-1.582.1-2.465a5.103 5.103 0 0 0-1.057-3.311 3.512 3.512 0 0 0-2.888-1.31 3.953 3.953 0 0 0-2.353.8 8.427 8.427 0 0 0-2.043 2.2 16.337 16.337 0 0 0-1.62 3.184 21.022 21.022 0 0 0-1.057 3.79 22.177 22.177 0 0 0-.366 4 6.034 6.034 0 0 0 .958 3.705 3.18 3.18 0 0 0 2.673 1.254h-.003Zm20.568 6.283 6.677-31.5h6.48l-.592 5.832h.254a19.041 19.041 0 0 1 2.677-3.325 11.619 11.619 0 0 1 3.254-2.268 9.35 9.35 0 0 1 3.987-.831 8.52 8.52 0 0 1 4.522 1.113 6.843 6.843 0 0 1 2.719 3.142 11.79 11.79 0 0 1 .9 4.818 18.293 18.293 0 0 1-.169 2.339 33.146 33.146 0 0 1-.479 2.733l-3.747 17.947h-8.481l3.86-18.4c.15-.639.263-1.239.338-1.8a11.82 11.82 0 0 0 .113-1.55 3.826 3.826 0 0 0-.761-2.62 2.916 2.916 0 0 0-2.282-.845 4.684 4.684 0 0 0-3.465 1.648 14.414 14.414 0 0 0-2.691 4.409 36.282 36.282 0 0 0-1.874 6.114l-2.761 13.045-8.479-.001Zm48.066.563a14.599 14.599 0 0 1-5.928-1.173 9.212 9.212 0 0 1-4.226-3.719 12.67 12.67 0 0 1-1.564-6.692c-.01-2.198.225-4.391.7-6.537a23.697 23.697 0 0 1 2.085-5.776 17.758 17.758 0 0 1 3.409-4.607 14.971 14.971 0 0 1 4.649-3.057 14.94 14.94 0 0 1 5.832-1.1c1.701-.019 3.398.16 5.057.535 1.446.34 2.849.841 4.184 1.493l-2.587 6.46a36.67 36.67 0 0 0-2.987-1.127 10.672 10.672 0 0 0-3.325-.479 5.838 5.838 0 0 0-3.564 1.155 9.578 9.578 0 0 0-2.648 3.1 16.663 16.663 0 0 0-1.648 4.351 21.388 21.388 0 0 0-.563 4.888 6.907 6.907 0 0 0 .578 2.987c.35.769.931 1.409 1.662 1.831a5.169 5.169 0 0 0 2.606.62 11.585 11.585 0 0 0 3.973-.662 33.707 33.707 0 0 0 3.775-1.648v6.932a19.591 19.591 0 0 1-4.254 1.634 20.796 20.796 0 0 1-5.218.592l.002-.001Zm28.6 0a14.907 14.907 0 0 1-6.494-1.338 9.911 9.911 0 0 1-4.381-4.043 13.305 13.305 0 0 1-1.578-6.79 25.864 25.864 0 0 1 1.127-7.621 20.482 20.482 0 0 1 3.367-6.579 16.335 16.335 0 0 1 5.522-4.593 16.358 16.358 0 0 1 7.593-1.69c3.533 0 6.177.803 7.931 2.409a8.006 8.006 0 0 1 2.634 6.184 9.21 9.21 0 0 1-1.113 4.508 9.73 9.73 0 0 1-3.367 3.48 17.672 17.672 0 0 1-5.663 2.226 36.44 36.44 0 0 1-8 .775h-1.437a19.43 19.43 0 0 0-.042.592c-.009.169-.014.357-.014.563a5.494 5.494 0 0 0 1.465 4.029 5.545 5.545 0 0 0 4.142 1.493 16.809 16.809 0 0 0 4.508-.563 31.357 31.357 0 0 0 4.79-1.86v6.4a24.05 24.05 0 0 1-5.043 1.817 25.972 25.972 0 0 1-5.949.602l.002-.001Zm-2.93-18.793h1.268a16.63 16.63 0 0 0 5.311-.7 6.48 6.48 0 0 0 2.987-1.86 3.882 3.882 0 0 0 .944-2.508 2.493 2.493 0 0 0-.775-2.015 3.268 3.268 0 0 0-2.184-.662 5.776 5.776 0 0 0-3.127.986 9.464 9.464 0 0 0-2.733 2.733 11.582 11.582 0 0 0-1.691 4.027v-.001Zm36.571 18.229 8.706-41.192h10.115c4.133 0 7.397.888 9.791 2.663s3.591 4.654 3.592 8.636a13.01 13.01 0 0 1-1.183 5.72 11.892 11.892 0 0 1-3.226 4.114 15.097 15.097 0 0 1-4.663 2.564l7.354 17.5h-9.354l-5.833-15.814h-3.353l-3.353 15.806-8.593.003Zm13.44-22.909h2.2a12.115 12.115 0 0 0 3.282-.409 6.952 6.952 0 0 0 2.465-1.212 5.071 5.071 0 0 0 1.536-2.029 7.251 7.251 0 0 0 .521-2.86 4.31 4.31 0 0 0-1.352-3.466 6.366 6.366 0 0 0-4.2-1.155h-2.085l-2.367 11.131Zm35.19 23.47a14.907 14.907 0 0 1-6.494-1.338 9.908 9.908 0 0 1-4.379-4.039 13.305 13.305 0 0 1-1.58-6.793 25.864 25.864 0 0 1 1.127-7.621 20.482 20.482 0 0 1 3.367-6.579 16.335 16.335 0 0 1 5.522-4.593 16.358 16.358 0 0 1 7.593-1.69c3.533 0 6.177.803 7.931 2.409a8.006 8.006 0 0 1 2.634 6.184 9.21 9.21 0 0 1-1.113 4.508 9.73 9.73 0 0 1-3.367 3.48 17.672 17.672 0 0 1-5.663 2.226 36.44 36.44 0 0 1-8 .775h-1.437a19.43 19.43 0 0 0-.042.592c-.009.169-.014.357-.014.563a5.494 5.494 0 0 0 1.465 4.029 5.545 5.545 0 0 0 4.142 1.493 16.809 16.809 0 0 0 4.508-.563 31.357 31.357 0 0 0 4.79-1.86v6.4a24.05 24.05 0 0 1-5.043 1.817 26.018 26.018 0 0 1-5.947.604v-.004Zm-2.93-18.793h1.268a16.63 16.63 0 0 0 5.311-.7 6.48 6.48 0 0 0 2.987-1.86 3.882 3.882 0 0 0 .944-2.508 2.493 2.493 0 0 0-.775-2.015 3.268 3.268 0 0 0-2.184-.662 5.776 5.776 0 0 0-3.127.986 9.464 9.464 0 0 0-2.733 2.733 11.596 11.596 0 0 0-1.691 4.03v-.004Zm18.173 32.091 9.636-45.362h6.48l-.479 4.79h.254a19.45 19.45 0 0 1 2.282-2.592 10.9 10.9 0 0 1 2.958-2.015 8.635 8.635 0 0 1 3.691-.775 8.741 8.741 0 0 1 4.311 1.127 8.23 8.23 0 0 1 3.3 3.649 15.067 15.067 0 0 1 1.268 6.72c0 2.051-.222 4.096-.662 6.1a27.922 27.922 0 0 1-1.916 5.748 20.807 20.807 0 0 1-3.043 4.818 13.815 13.815 0 0 1-4.043 3.3 10.344 10.344 0 0 1-4.931 1.2 7.76 7.76 0 0 1-3.24-.606 6.58 6.58 0 0 1-2.24-1.648 15.128 15.128 0 0 1-1.676-2.339h-.225a60.047 60.047 0 0 1-.451 4.212 58.153 58.153 0 0 1-.761 4.1l-2.029 9.578-8.484-.005Zm17.666-20.141a4.012 4.012 0 0 0 2.367-.8 8.304 8.304 0 0 0 2.057-2.2 15.744 15.744 0 0 0 1.606-3.184 21.816 21.816 0 0 0 1.042-3.79 22.17 22.17 0 0 0 .366-4 6.238 6.238 0 0 0-.916-3.719 3.22 3.22 0 0 0-2.775-1.24 4.516 4.516 0 0 0-2.465.7 7.04 7.04 0 0 0-1.958 1.888 13.585 13.585 0 0 0-1.465 2.663 21.222 21.222 0 0 0-1.014 3.057 25.58 25.58 0 0 0-.578 3.043 21.266 21.266 0 0 0-.183 2.62 5.714 5.714 0 0 0 1.057 3.592 3.432 3.432 0 0 0 2.859 1.37Zm30.035 6.847a8.741 8.741 0 0 1-4.311-1.127 8.312 8.312 0 0 1-3.311-3.635 14.67 14.67 0 0 1-1.282-6.649c0-2.065.222-4.124.662-6.142a27.845 27.845 0 0 1 1.916-5.762 20.807 20.807 0 0 1 3.043-4.818 13.953 13.953 0 0 1 4.057-3.311 10.27 10.27 0 0 1 4.917-1.212 9.674 9.674 0 0 1 3.494.578 7.51 7.51 0 0 1 2.564 1.62 8.694 8.694 0 0 1 1.747 2.423h.225l1.606-4.029h6.537l-6.706 31.5h-6.339l.394-4.085h-.23a15.732 15.732 0 0 1-2.451 2.423 10.66 10.66 0 0 1-2.93 1.634 10.375 10.375 0 0 1-3.603.592h.001Zm3.325-6.847a4.718 4.718 0 0 0 3.24-1.366 11.705 11.705 0 0 0 2.563-3.561 17.996 17.996 0 0 0 1.521-4.649c.15-.749.258-1.507.324-2.268.067-.761.1-1.582.1-2.465a5.103 5.103 0 0 0-1.057-3.311 3.512 3.512 0 0 0-2.888-1.31 3.953 3.953 0 0 0-2.353.8 8.427 8.427 0 0 0-2.043 2.2 16.337 16.337 0 0 0-1.62 3.184 21.022 21.022 0 0 0-1.057 3.79 22.177 22.177 0 0 0-.366 4 6.034 6.034 0 0 0 .958 3.705 3.175 3.175 0 0 0 2.677 1.251h.001Zm20.568 6.283 6.677-31.5h8.481l-6.677 31.5h-8.481Zm12.284-35.416a5.48 5.48 0 0 1-3.029-.789 2.945 2.945 0 0 1-1.226-2.677 5.596 5.596 0 0 1 .606-2.733 3.917 3.917 0 0 1 1.761-1.662 6.24 6.24 0 0 1 2.761-.563 5.732 5.732 0 0 1 2.944.733 2.805 2.805 0 0 1 1.254 2.648 5.288 5.288 0 0 1-1.24 3.649 4.865 4.865 0 0 1-3.832 1.395l.001-.001Zm4.846 35.416 6.677-31.5h6.48l-.592 5.832h.31a18.43 18.43 0 0 1 2.761-3.437 11.242 11.242 0 0 1 3.24-2.212 9.285 9.285 0 0 1 3.8-.775c.485.002.969.031 1.451.085.424.039.843.114 1.254.225l-1.86 8.171a7.526 7.526 0 0 0-1.2-.31 8.798 8.798 0 0 0-1.62-.141 7.384 7.384 0 0 0-3.015.634 8.495 8.495 0 0 0-2.648 1.874 11.873 11.873 0 0 0-2.127 3.113 19.086 19.086 0 0 0-1.451 4.353l-2.987 14.087-8.473.001Zm33.603.975a28.964 28.964 0 0 1-5.316-.428 15.76 15.76 0 0 1-4.233-1.425v-7.068a20.516 20.516 0 0 0 4.4 1.9c1.523.448 3.102.674 4.689.67a8.361 8.361 0 0 0 2.523-.371 4.466 4.466 0 0 0 1.924-1.14c.246-.258.438-.562.566-.894.127-.333.186-.688.175-1.044a2.75 2.75 0 0 0-.371-1.425 5.114 5.114 0 0 0-1.411-1.382 29.864 29.864 0 0 0-3.007-1.838 21.772 21.772 0 0 1-3.349-2.28 8.183 8.183 0 0 1-2.109-2.651 7.814 7.814 0 0 1-.727-3.477 10.12 10.12 0 0 1 1.454-5.572 9.04 9.04 0 0 1 4.176-3.435 16.453 16.453 0 0 1 6.513-1.169 22.36 22.36 0 0 1 5.33.627 18.379 18.379 0 0 1 5.017 2.081l-2.822 6.128a19.672 19.672 0 0 0-3.577-1.71 11.07 11.07 0 0 0-3.777-.684 4.851 4.851 0 0 0-2.508.656 2.192 2.192 0 0 0-1.112 2.024 2.43 2.43 0 0 0 .4 1.354c.364.5.824.922 1.354 1.24.637.418 1.497.912 2.58 1.482a19.917 19.917 0 0 1 3.435 2.209 9.233 9.233 0 0 1 2.352 2.793 7.78 7.78 0 0 1 .855 3.748 10.74 10.74 0 0 1-1.653 6.114 10.139 10.139 0 0 1-4.66 3.72 18.405 18.405 0 0 1-7.111 1.247Z"
            fill="#001524"
          />
        </svg>
      </a>
      <!-- Inner -->
      <div class="inner">
        <!-- header -->
        <header>
          <h1>Booking enquiry</h1>
          <p>
            Thank you for sending a booking enquiry with Anyrep! We will get
            back to you as soon as possible.
          </p>
        </header>
        <!-- Body -->
        <div class="content-outer content-outer-one">
          <h2>Details</h2>
          <div class="content-inner">
            <ul>
              <li><span>Name</span> {{ name }}</li>
              <li>
                <span>Email</span>
                <a href="mailto:{{ email }}">{{ email }}</a>
              </li>
              <li>
                <span>Phone</span>
                <a href="tel:{{ number }}">{{ number }}</a>
              </li>
              <li><span>Appliance</span> {{ appliance }}</li>
            </ul>
          </div>
        </div>
        <div class="content-outer content-outer-two">
          <h2>Message</h2>
          <div class="content-inner">
            <p>
              {{ message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
