<!-- https://autoprefixer.github.io/ -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: helvetica;
        padding: 0;
        margin: 0;
      }
      p {
        color: #1d1d1d;
      }
      li {
        color: #1f1f1f;
      }
      body {
        background: #ebecf0;
        font-family: "Inter", sans-serif;
      }
      .container {
        max-width: 650px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 5px;
      }
      .logo {
        height: 40px;
      }
      .logo svg {
        height: 40px;
      }
      .inner {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
      }
      .inner header {
        padding: 40px 20px;
        background-color: #001524;
        border-radius: 10px;
      }
      header h1,
      header p {
        text-align: center;
        color: white;
        max-width: 450px;
        margin: 0 auto;
      }
      header h1 {
        font-size: 24px;
      }
      header p {
        margin-top: 10px;
        font-size: 18px;
      }
      .content-outer {
        padding: 30px 15px;
      }
      .content-outer-one {
        padding-bottom: 20px;
      }
        .content-outer-two {
            padding-top: 0;
        }
      .content-outer:last-child {
        padding-top: 0;
      }
      .content-outer h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .content-inner {
        padding: 15px;
        border: 1px solid #dadada;
        border-radius: 10px;
      }
      .content-inner ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .content-inner ul li {
        padding: 5px 0;
        margin: 0;
      }
      .content-inner ul li span {
        font-weight: 700;
        margin-right: 10px;
      }
      .content-inner ul li:first-child {
        padding-top: 0;
      }
      .content-inner ul li:last-child {
        padding-bottom: 0;
      }
      a {
        color: #f82929;
      }
    </style>
  </head>
  <body style="background-color: #ebecf0;">
    <div class="container">
      <!-- Logo -->
      <a href="https://www.anyrep.co.uk" class="logo">
        <img src="{{ app_url }}/assets/anyrep-logo.svg" alt="Anyrep Appliance Repairs" />
      </a>
      <!-- Inner -->
      <div class="inner">
        <!-- header -->
        <header>
          <h1>Booking enquiry</h1>
          <p>
            Thank you for sending a booking enquiry with Anyrep! We will get
            back to you as soon as possible.
          </p>
        </header>
        <!-- Body -->
        <div class="content-outer content-outer-one">
          <h2>Details</h2>
          <div class="content-inner">
            <ul>
              <li><span>Name</span> {{ name }}</li>
              <li>
                <span>Email</span>
                <a href="mailto:{{ email }}">{{ email }}</a>
              </li>
              <li>
                <span>Phone</span>
                <a href="tel:{{ number }}">{{ number }}</a>
              </li>
              <li><span>Appliance</span> {{ appliance }}</li>
            </ul>
          </div>
        </div>
        <div class="content-outer content-outer-two">
          <h2>Message</h2>
          <div class="content-inner">
            <p>
              {{ message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
